*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    
}


@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Roboto+Condensed:wght@300&display=swap');


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;  
}

header>div:nth-child(1) {
    display :flex; 
    justify-content: center; 
    align-items: center;
    gap: 10px;
} 

header>div:nth-child(2), .close {
    padding: 0px 8px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 35px;
}

header>div:nth-child(2):hover, .close:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: all 0.4s;
}

#input-section{
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.481), rgba(0, 0, 0, 0.481));
}

#input-section>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 20px;
    padding: 40px;
    background-color: #f0f0ff;
    padding-top: 10px;
}

#input-section>div form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

form input, textarea {
    padding: 10px;
    border : 0.6px solid #8c8c8c;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

textarea{
    resize: none;
}

input::placeholder, textarea::placeholder {
    color: #8c8c8c;
}

form button{
    background-color: #691ded;
    color: rgb(220, 220, 220);
    border-radius: 10px;
    padding: 10px;
    border: 1.6px solid transparent;
    cursor: pointer;
}

#input-section>div>div:nth-child(1){
    width: 100%;
    margin-bottom: 5px;
}

.close {
    color: #691ded;
    font-size: 30px;
    position: relative;
    width: fit-content;
    right: -396px;
}

.close:hover{
    background-color: #ff0000bb;
    color :white;
}


form button:hover, form button:focus{
    background: linear-gradient(#691ded, #b74eca);
    color: white;
    border: 1.6px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.3s;
}

.card{
    width: 250px;
    height: 380px;
    border: 1px solid black;
}

#container {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    padding: 40px 30px; 
}